.container {
    display: flex;
}

.collapsed {
    margin-right: 20px;
}

.divider {
    margin: 0px 20px;
}

.cards {
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 30px;
}

.card {
    margin: 9px 30px 9px 0px;
}

.addcard {
    margin: 10px 0px;
    width: 120px;
}

.modalTitle {
    font-size: 21px;
    line-height: 25px;
    margin-top: 0px;
}

.modalButtons {
    display: flex;
    justify-content: flex-end;
}

.modalButton {
    width: 70px;
    margin-left: 5px;
}