
.menu {
    display: inline-flex;
    flex-wrap: wrap;
}

.menu > button {
    margin-right: 5px;
    margin-top: 26px;
    margin-bottom: 35px;
}

@media (max-width: 480px) {
    .menu {
        display: block;
    }
    .menu > button {
        margin-top: 15px;
        margin-bottom: 5px;
        width: 100%;
        margin-right: 10%;
    }
}
