.app {
    margin-left: 10%;
}

.project {
  margin-bottom: 40px;
}

.collapsed {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 480px) {
  .app {
    margin-right: 10%;
    width: 300px;
  }
  .collapsed {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
  }
}