.summaryTitle {
    font-size: 21px;
    line-height: 27px;
    width: 160px;
    letter-spacing: -0.01em;
    color: #5489DC;
}

.progressBar {
    margin-bottom: 20px;
}

.line {
    width: 160px;
    display: flex;
    justify-content: space-between;
}

.icons {
    max-width: 160px;
}