.container {
    display: block;
}

.progressBar {
    margin-top: 2px;
    margin-bottom: 12px;
}

.labels {
    display: flex;
    justify-content: space-between;
}

.trash {
    margin-top: -25px;
    margin-bottom: 5px;
    margin-right: -10px;
    position: relative;
    float: right;
}